button {
    background-color: transparent;
    border: none;
    &:active, &:focus {
        border: none;
        outline: none;
    }
}

.btn {
    border-radius: 3px;
    padding: 0 12px;
    font-size: 1.1rem;
    cursor: pointer;

}