@import '../../../../scss/variables.scss';


.profile-btn {
    display: flex;
    color: white;
    font-size: 1.2rem;
    width: 25%;
    height: 40px;
    align-items: center;
    cursor: pointer;

    .profile-img {
        height: 40px;
        width: 40px;
        border-radius: 10000px;
        margin-left: 15px;
        position: relative;

        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }

    &:hover {
        .profile-img::before {
            display: block;
            height: 50px;
            width: 50px;
            content: '';
            border-radius: 10000px;
            background-color: $white;
            opacity: .7;
            position: absolute;
            top: -5px;
            left: -5px;
            z-index: 1;
        }

        .profile-img > * {
            position: relative;
            z-index: 100;
        }
    }
}